# CONFIG_COMPRESS_GZIP is not set
CONFIG_COMPRESS_LZ4=y
# CONFIG_LIBFDT is not set
CONFIG_MT6897=y
CONFIG_LENOVO_TB373FU=y
CONFIG_TEXT_BASE=0x40000000
CONFIG_PAYLOAD_ENTRY=0x60000000
CONFIG_RAMDISK_ENTRY=0x51100000
